@charset "UTF-8";

/* Importation de polices Google Fonts */
/* Polices : Playfair Display (titres), DM Sans (texte) */
/* Exemple : font-family: 'Playfair Display', serif; */
/* Exemple : font-family: 'DM Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=DM+Sans:wght@300;400;500;600&display=swap');

/**
 * @author Maxime Riverin <2435415@csfoy.ca>
 *
 * TABLE DES MATIERES
 *
 * Reset
 * Variables
 * Styles de base
 * Accessibilité
 * Validations
 * Mise en page
 */

/* ------- Reset ------- */

@import url(normalize.css);

/* ------- Variables ------- */
:root {
    /* Couleurs
    Ratio de Contraste (avec couleur secondaire) : 5 
    Contraste (minimum) :  A
    Conforme (texte normal) : AA (Grand format) : AAA
     */
    --couleur-primaire: #50C0F7;
    --couleur-secondaire: #2B769A;
    --couleur-tertiaire: #f7f5f0;
    --couleur-quadra: #b9d7de;
    font-size: 16px;
}

/* ------- Styles de base ------- */
/* Harmoniser le modèle de boîte avec Box-Sizing */
html {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', 'Playfair', sans-serif, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*** Fluidifier les images ***/
img {
    max-width: 100%;
}

/* ------- Accessibilité ------- */

/* Pour cacher visuellement tout en gardant accessible un contenu: screen-reader-only ou visually-hidden */
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* ------- Validations ------- */
.icone {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../images/good-warning-error.png');
    background-size: cover;
    position: relative;
    top: 3px;
}
.icone--ok {
    background-position: 0 0;
}
.icone--avertissement {
    background-position: 49px 0;
}
.icone--erreur {
    background-position: 99px 0;
}

/* ------Mise en page------ */
/* Mobile First */


/* Main (avant formulaire) */
.main {
    position: relative;
    z-index: 98;
    max-width: 37.5rem;
    margin: 0 auto;
    background-color: var(--couleur-tertiaire);
}

.background-gradient {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 25%;
    vertical-align: bottom;
}

.main__containeur {
    position: inherit;
    z-index: 101;
    padding-inline: 2rem;
}

.commander {
    padding-top: 8rem;
}

.commander__texte {
    color: rgb(198, 198, 198);
}

.commander__titre {
    color: white;
}

/* Formulaire - Éléments généraux */
.formulaire {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.containeur {
    text-transform: initial;
    font-variant: normal;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.repere {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ded9d1;
}

.icone {
    background-color: var(--couleur-secondaire);
    width: 45px;
    height: 45px;
    border-radius: 1rem;
    padding: 0.5rem;
}

.legende {
    width: 100%;
    padding: 1rem;
}

/* Formulaire - Éléments du formulaire */
.contenu-format label {
    display: inline-block;
    background-color: var(--couleur-tertiaire);
    border-radius: 1rem;
    padding: 1.5rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: 2px solid #ded9d1;
}

.contenu-format label p {
    color: black;
    margin: 0;
    font-weight: 500;
}

.format__liste {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

input[type=radio]:focus + label {
    outline: 3px solid var(--couleur-secondaire);
    outline-offset: 3px;
    border-radius: 1rem;
}

input[type=radio]:checked + label {
    outline: 2px solid var(--couleur-primaire);
    outline-offset: 2px;
}

.nom-prenom__containeur,
.localisation__containeur,
.contact__containeur {
    display: flex;
    flex-direction: column;
}

.containeur__item label {
    display: inline-block;
}

.containeur__item input,
select {
    display: inline-block;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid #ded9d1;
    margin-top: 0.5rem;
    background-color: var(--couleur-tertiaire);
    margin-bottom: 1rem;
}

/* Formulaire - Bas de page */
.footer__containeur {
    background-color: #ded9d1;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

.containeur__item.infolettre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__containeur input {
    width: auto;
    margin: 0 1rem 0 0;
    border-color: #ded9d1;
}

.bouton-commander {
    margin: 1rem;
    display: flex;
    justify-content: right;
}

.bouton-commander button {
    background-color: var(--couleur-secondaire);
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    color: #f7f5f0;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.bouton-commander button img {
    width: 20px;
    height: 20px;
}

/* Message Erreur */
.cacher {
    display: none;
}

.message-erreur {
    color: red;
    outline: 2px solid rgb(171, 44, 30);
    outline-offset: 3px;
    border-radius: 1rem;
    margin-top: 1rem;
    width: fit-content;
}

/* Autre (modificateurs, effet survol, ) */
.italic {
    font-style: italic;
}

.couleur-primaire {
    color: var(--couleur-primaire);
}

.couleur-secondaire {
    color: var(--couleur-secondaire);
}

.couleur-tertiaire {
    color: var(--couleur-tertiaire);
}

.small-caps {
    text-transform: lowercase;
    font-variant: small-caps;
}

.info__exemple {
    color: rgb(149, 149, 149);
}

:focus-visible {
    outline: 3px solid var(--couleur-secondaire);
    outline-offset: 3px;
    border-radius: 1rem;
}

a {
    color: var(--couleur-primaire);
}

.bouton-commander button:hover,
a:hover,
input[type=radio]:hover + label {
    outline: 3px solid var(--couleur-quadra);
    outline-offset: 1px;
    color: var(--couleur-quadra);
}

/* Affichage Écran large */
@media (min-width: 64rem) {

    .main {
        max-width: 62.5rem;
    }

    .containeur__item {
        display: flex;
        flex-direction: column;
    }

    .containeur__item input,
    select {
        margin-bottom: 0rem;
    }

    .format__liste {
        flex: 1 1 calc(33% - 2rem);
        gap: 1rem;
    }

    .nom-prenom__containeur,
    .localisation__containeur {
        flex: 1 1 calc(50% - 2rem);
        gap: 1rem;
    }

    .nom-prenom__containeur p,
    .localisation__containeur p,
    .format__liste__item {
        width: 100%;
    }

    .table--flex--row {
        flex-direction: row;
    }
}
